<%- include('partials/head.ejs') %>

<body>
	<%- include('partials/navbar.ejs') %>
	<div class="container">
		<h1>Your random number is: <%= randNum %></h1>
		<!-- <% if (randNum % 2 === 0) { %>
	<h2>That is an even number!</h2>
	<% } else { %>
	<h2>That is an odd number!</h2>
	<% } %> -->
		<!-- <% let numType = '' %>
	<% randNum % 2 === 0 ? numType = 'even' : numType = 'odd' %>
	<h2>That is an <%= numType %> number!</h2> -->

		<h2>That is an <%= randNum % 2 === 0 ? 'EVEN' : 'ODD'%> number!</h2>
	</div>
</body>

</html>